.loggedArea {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/* 

/*Header*/

.app-header {
  display: flex;
  background-color: var(--laranja-principal);
}

.app-header__logo {
  margin-right: auto;
}

.app-header__logo img {
  max-width: 120px;
}

.app-header__menu {
  font-size: 3em;
}

.app-header__menu:hover {
  cursor: pointer;
}


.appMain {
  width: 100%;
  height: 100%
}