.loginMain {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#form-all {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#form-all > [type="submit"] {
    width: 30em;
}

.enter-data {
    width: 30em;
}

.naoAutorizado {
    color: red;
    font-size: 1.125rem;
}