:root {
  --laranja-principal: rgba(239, 100, 53, 1);
  --orange-hover: rgb(241, 181, 161);
}

/*Fontes

font-family: 'Bubblegum Sans', cursive;
font-family: 'Nunito', sans-serif;
*/

html, body {
  margin: 0;
  /*Esta parte é para não criar scroll para a direita, que estava acontecendo em alguns tamanhos de tela*/
  max-width: 100%;
  overflow-x: hidden;
}

main {
  margin-top: 100px;
  min-height: calc(100vh - 200px);
}


p{
  font-family: 'Nunito', sans-serif;
}


/*---------------------------------------------------------------------------*/



